*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* logo and navigations */
header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: black;
   padding: 10px;
}

.logo{
  font-size: 20px;
  letter-spacing: 2px;
}

#royal{
   color: royalblue;
   font-family: 'Road Rage', cursive;
}

.logo h1{
   color: white;
   font-family: 'Road Rage', cursive;
}

.nav-menu ul{
   display: flex;
   gap: 15px;
   align-items: center;
}

.nav-menu ul a{
   color: white;
   text-decoration: none;
}

.tel-number a{
   color: royalblue;
   text-decoration: none;
   border: 2px solid royalblue;
   padding: 10px;
   margin-right: 5px;
   border-radius: 5px;
   transition:ease all 0.5s;
}

.tel-number a:hover{
   background-color: royalblue;
   color:white;
}

/* hero image and text */
.hero-image{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/midia.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   height: 100vh;
}

.hero-text{
   position: absolute;
   top: 25%;
   color: white;
   margin: 15px;
   line-height: 1.2;
}

.hero-text h1{
   font-size: 100px;
   margin-bottom: 10px;
}

.hero-text p{
   font-size: 30px;
   margin-bottom: 30px;
}

.hero-text a{
   color: royalblue;
   text-decoration: none;
   border: 2px solid royalblue;
   padding: 10px;
   margin-right: 5px;
   border-radius: 5px;
   transition:ease all 0.5s;
   font-size: 20px;
}

.hero-text a:hover{
   background-color: royalblue;
   color:white;
}

/* description */
.chi-siamo{
   width:60%;
   margin: auto;
   background-color: #f6f6f6;
   text-align: center;
   margin-top: 30px;
   padding: 40px;
   line-height: 1.4;
}

.chi-siamo h2{
   margin-bottom: 10px;
}

/* services */
.serve h2{
   text-align: center;
   margin-top:100px;
}

.servizi{
   margin-top: 40px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   line-height: 1.4;
}

.cards{
   padding: 20px;
}

#icons{
   width:100px;
}

.gallery{
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 60px;
}

.gallery img{
   width:300px;
   margin:10px;
   box-shadow: 1px 5px 5px #bbbbbbfc;
}

/* visit us */
.therapy{
   margin-top: 120px;
}

.visit-us{
   display: flex;
   align-items: center;
   margin:20px;
   flex-direction: column;
}

.visit-us h2{
   font-size: 100px;
   margin-left: 70px;
   text-align: center;
   color: #385755;
   margin-bottom: 5px;
}
#mati{
   width:300px;
   border-radius: 5px;
   box-shadow: 1px 5px 5px #bbbbbbfc;
   margin-left: 50px;
}

table{
   border: 1px solid #dddddd;
}

td, th{
   border: 1px solid #dddddd;
   text-align: center;
   padding: 14px;
   width: 320px;
 }

.maps{
   display: flex;
   align-items: center;
   margin-top: 50px;
   justify-content: center;
   text-align: center;
}

.maps .left{
   width:50%;
   margin-top: 4px;
}

.maps .right{
   width:50%;
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/gareth.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 460px;  
}

.right h2{
   color: white;
   padding: 20px
}

.right form{
   margin-top: 20px;
}

.right input, .right textarea{
   padding: 5px;
   text-align: center;
   border-radius: 5px;
   border: none;
}

.right textarea{
   margin-bottom: 8px;
}

#submit-cta{
   padding: 6px;
   width:20%;
   border: 2px solid royalblue;
   background-color: transparent;
   color: royalblue;
   font-weight: bold;
   border-radius: 5px;
   transition:ease all 0.5s;
}

#submit-cta:hover{
   background: royalblue;
   color: white;
   cursor:pointer;
}


/* footer */

.foot{
   background-color: black;
   padding: 20px;
   /* display: flex; */
   justify-content: space-between;
   align-items: center;
   gap: 50px;
   text-align: center;
}

#social-icon{
   width:50px;
   margin: 5px;
}

.social a{
   text-decoration: none;
}

.author{
   color: white;
   margin: auto;
   padding: 15px;
}




